canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline;
}

main {
    position: absolute;
    /* width: 100vw; */
    color: white;
    z-index: 99;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18vh */
}

#welcome {
    position: absolute;
    flex: auto;
    background-color: red;
    z-index: 2; /* Ensures it appears above the canvas */
    /* top: 20%;
    left: 25%; */
    grid-column: 2 / span 5;
    grid-row: 2 / span 5;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
  }

/* Start at 2nd, span across 5. */
/* grid-column: 2 / span 5; */

/* Start at 2nd column, end at 8th. */
/* grid-column: 2 / 8;  */
